h1 {
    font-size:28px
}

h2 {
    font-size:24px
}

h3 {
    font-size:20px
}

h4 {
    font-size:16px
}

h4 {
    font-size:14px
}

h5 {
    font-size:12px
}

h6 {
    font-size:10px
}

body {
    background:none repeat scroll 0 0 rgba(230,230,230,1);
    color:#444;
    margin:0;
    padding:0;
    font-family:'Source Sans Pro',Arial,sans-serif;
    font-weight:400;
    font-size:14px;
    overflow-wrap:break-word;
}

h1,h2 {
    font-size:24px
}

h3 {
    font-size:20px
}

body img {
    max-width:100%;
    max-height:100%
}

a {
    color:#00AADE;
    text-decoration:none
}

input[type="text"] {
    padding:5px;
    border:1px solid #E7E7E7;
    color:#5F5F5F
}

a.no-link {
    color:#444
}

#header {
    margin:0;
    padding:0;
    text-align:left;
    position:relative;
    border-top:5px solid #FF9200;
    background:#333 url(/themes/mobile/TheExoticBlue/images/life-freedom.jpg) no-repeat;
	background-size: 100%;
}

#header:before {
    content:' ';
    display:block;
    position:absolute;
    top:-5px;
    right:0;
    height:5px;
    width:10%;
    background:#DEDB00
}

#header:after {
    content:' ';
    display:block;
    position:absolute;
    top:-5px;
    right:10%;
    height:5px;
    width:10%;
    background:#FFCB00
}

#header .heading:before {
    content:' ';
    display:block;
    position:absolute;
    top:-5px;
    left:0;
    height:5px;
    width:70%;
    background:#FF7DA5
}

#header .heading:after {
    content:' ';
    display:block;
    position:absolute;
    top:-5px;
    left:0;
    height:5px;
    width:60%;
    background:#EF347B;
    z-index:2
}

#header .description:before {
    content:' ';
    display:block;
    position:absolute;
    top:-5px;
    left:0;
    height:5px;
    width:50%;
    background:#A5185A;
    z-index:3
}

#header .description:after {
    content:' ';
    display:block;
    position:absolute;
    top:-5px;
    left:0;
    height:5px;
    width:40%;
    background:#94348C;
    z-index:4
}

#navigation:before {
    content:' ';
    display:block;
    position:absolute;
    top:-5px;
    left:0;
    height:5px;
    width:30%;
    background:#00AADE;
    z-index:5
}

#navigation:after {
    content:' ';
    display:block;
    position:absolute;
    top:-5px;
    left:0;
    height:5px;
    width:20%;
    background:#42CBEF;
    z-index:6
}

#top-content:before {
    content:' ';
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:5px;
    width:10%;
    background:#84BE39;
    z-index:7
}

.heading, #header img {
    margin:0;
    font-size:12px;
    margin:15px 10px 3px
}

.heading a {
    text-decoration:none;
    font-size:16px;
    color:#FFF;
    text-shadow:0 0 2px #353535
}

#header .description {
    margin:0;
    padding:0 10px 15px;
    font-weight:400;
    font-size:small;
    color:#fff
}

#navigation {
    height:0;
    font-size:0;
    margin:0
}

#navigation span a {
    background-size:10px 10px;
    border-right:1px solid #303030;
    font-size:0;
    margin:0;
    padding:0;
    display:inline-block;
    width:30px;
    height:39px
}

#navigation span a {
    background:#101010 url(/themes/mobile/TheExoticBlue/images/xb-home.png)center no-repeat
}

#navigation span+span a {
    background:#101010 url(/themes/mobile/TheExoticBlue/images/xb-about.png)center no-repeat
}

#navigation span+span+span a {
    background:#101010 url(/themes/mobile/TheExoticBlue/images/xb-menu.png)center no-repeat
}

#top-content {
    margin:0 0 5px;
    padding:5px 10px 5px 50%;
    background:none repeat scroll 0 0 #101010
}

#search-form {
    margin:0;
    padding:0 30px 0 0;
    position:relative
}

#search-form .inp-text {
    width:100%;
    border:0 none;
    margin:0;
    padding:0 4px 0 8px;
    background:none repeat scroll 0 0 #333;
    color:#FFF;
    height:30px;
    position:relative
}

#search-form .inp-btn {
    position:absolute;
    top:0;
    right:0;
    width:29px;
    height:30px;
    font-size:0;
    border:0;
    background:#333 url(/themes/mobile/TheExoticBlue/images/xb-search-button.png)center no-repeat;
    background-size:15px 15px
}

#content {
    margin:0;
    padding:0;
}

.post, .post-single  {
    margin:0 10px 2px;
    padding:10px 2px 10px 4px;
    background:#FFF
}

.post .post-content {
    margin:10px 0;
}

#bottom-content:after {
    padding:8px;
    color:#FFF;
    text-transform:uppercase;
    background:none repeat scroll 0 0 #00AADE;
    clear:both;
    font-size:15px;
    display:block;
    margin:4px 0 0;
    font-weight:700
}

.post-meta2 {
    margin:0;
    padding:10px 3px 0;
    text-align:right
}

.post-meta2 a {
    background:#8CC339;
    margin:0;
    padding:3px;
    color:#FFF;
    text-transform:uppercase;
    font-weight:700
}

#pagination-links {
    margin:0 10px;
    padding:8px;
    text-align:center;
    clear:both;
    background:none repeat scroll 0 0 #FFF
}

#pagination-links span,#pagination-links a {
    margin:0 1px;
    padding:5px 7px;
    display:inline-block;
    background:none repeat scroll 0 0 rgba(255,255,255,1);
    color:rgba(63,58,58,1);
    font-size:small;
    border:1px solid rgba(225,225,225,1)
}

#pagination-links span {
	background: #8CC339;
	color: #fff;
}

#pagination-links a:hover {
    text-decoration:none
}

#following-list,#blogroll_list,#bottom-content {
    margin:0;
    padding:0
}

ol,ul {
    margin:0;
    padding:0 10px
}

li {
    list-style:outside none none;
    margin-bottom:1px;
    padding:6px 10px;
    color:#666;
    background:none repeat scroll 0 0 #FFF
}

#blogroll_list li,#following-list li,#category-bottom li {
    background:none repeat scroll 0 0 #222;
	display: inline-block;
    border-bottom:0 none;
    color:#FFF;
    margin:2px 3px 3px 0;
    padding:5px;
}

#category-bottom {
    background:#FFF;
}

#category-bottom ul {
	padding: 2px 10px;
}

#category-bottom li, #category-bottom li a {
    background:none repeat scroll 0 0 #07ACEC;
	color: #fff;
}

#bottom-content {
    margin:0 10px!important
}

#following-list ul,#blogroll ul,#navigation-menu ul {
    margin:0;
    padding:0
}

#following-list h4,#blogroll_list h4,#blogroll_list h4 a.no-link,#bottom-content h3 {
    margin:2px 0 0;
    padding:8px;
    color:#FFF;
    text-transform:uppercase;
    background:#00AADE;
    clear:both;
    font-size:15px
}

h3 {
    margin:2px 0 0;
    padding:8px;
    color:#FFF;
    text-transform:uppercase;
    background:#00AADE;
    clear:both;
    font-size:15px
}

#navigation-menu li h1,#navigation-menu li h2,#navigation-menu li h3,#navigation-menu li h4,#navigation-menu li h5,#navigation-menu li h6 {
    margin:-5px 0;
    padding:5px 10px;
    color:#FFF;
    background:#00AEE7
}

#navigation-menu li h1 {
    background:#8CC331
}

#navigation-menu li h2 {
    background:#00AEDE
}

#navigation-menu li h3 {
    background:#94348C
}

#navigation-menu li h4 {
    background:#A51C5A
}

#navigation-menu li h5 {
    background:#F73473
}

#navigation-menu li h6 {
    background:#FF9200
}

#following-list h4 a,#blogroll_list h3 a,#bottom-content h3 a,#navigation-menu h3 a {
    color:#FFF
}

#footer {
    margin:6px 10px 0 10px;
    padding:10px;
    background:#00AADE;
    color:#fff;
    text-align:left;
    font-weight:400;
    clear:both;
    font-size:12px
}

#footer h6 {
    margin:0;
    padding:0;
    font-weight:400
}

#footer span {
    background:transparent!important;
    border:none!important;
    font-weight:400!important;
    color:#444!important
}

#footer a {
    color: #fff;
	font-weight: bold;
}

.post-single .post-meta, .post .post-meta {
	font-size: 12px;
    margin:0 -6px;
    padding:10px;
    color:#999;
    border-bottom:1px solid #EFEFEF
}

.post-single .post-meta .categories {
    margin:0;
    padding:5px 0 0;
    font-size:0
}

.post-single .post-meta .categories a {
    margin:5px 5px 0 0;
    padding:3px;
    font-size:small;
    text-transform:uppercase;
    background:#00AADE;
    color:#FFF;
    display:inline-block
}

.post-single .post-meta .title, .post .post-meta .title {
    margin:0;
    padding:0;
    color:#444;
	font-size:16px;
}

.post .post-meta .title a {
    display:block;
    font-weight:700;
    color:#333
}

.post-single .post-content {
    margin:0 10px;
    padding:5px 0;
    color:#444;
    border-bottom:1px solid #DFDFDF
}

.post-single img, .post img {
    background:#FFF;
    border:1px solid #E7E7E7;
    padding:5px;
    word-wrap:break-word;
    max-height:60%;
    max-width:93%;
    display:inline-table
}

img.thumbnail {
	background:#FFF;
    border:1px solid #E7E7E7 !important;
    padding:2px !important;
    word-wrap:normal;
    display:inline-table
}

.post-content textarea {
    background:#FFF;
    border:1px solid #E7E7E7;
    color:#5F5F5F;
    max-width:90%;
}

.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6 {
    margin:0 0 1px;
    padding:5px 10px;
    text-align:left;
    font-size:small;
    background:#00AEE7;
    border:0;
    color:#FFF
}

.post-content h1 {
    background:#8CC331
}

.post-content h2 {
    background:#00AEDE
}

.post-content h3 {
    background:#94348C
}

.post-content h4 {
    background:#A51C5A
}

.post-content h5 {
    background:#F73473
}

.post-content h6 {
    background:#FF9200
}

.post-content ol,.post-content ul {
    margin:0;
    padding:0
}

#share-buttons {
    margin:0;
    padding:10px;
    text-align:right;
    clear:both
}

#recent-posts-list {
    margin:0 10px 10px;
    padding:10px 10px 5px;
    background:#F7F7F7;
    border:1px solid #DFDFDF
}

#recent-posts-list ol,#recent-posts-list ul {
    margin:0;
    padding:0
}

#recent-posts-list li {
    margin:0;
    padding:5px 0 5px 20px;
    border-bottom:1px solid #DFDFDF;
    position:relative;
    background:#F7F7F7 !important
}

#recent-posts-list li:after {
    content:' ';
    display:block;
    position:absolute;
    top:5px;
    left:0;
    height:10px;
    width:10px;
    background:#FFF;
    border:1px solid #DFDFDF
}

#recent-posts-list li:last-child {
    border-bottom:0
}

#next_previous {
    background:transparent;
    margin:0 10px;
    padding:0
}

#next_previous a {
    color:#FFF!important
}

#next_previous .previous {
    background:none repeat scroll 0 0 #84BE39;
    color:#FFF;
    padding:8px;
    float:left;
    margin:0 0 10px
}

#next_previous .next {
    background:none repeat scroll 0 0 #84BE39;
    color:#FFF;
    padding:8px;
    float:right;
    margin:0 0 10px
}

.clear {
    clear:both
}

#comments {
    margin:0 10px;
    padding:10px;
    background:#F7F7F7;
    border:1px solid #E7E7E7;
    clear:both
}

#comments h3 {
    margin:0;
    padding:5px 10px;
    background:#FFF;
    color:#555;
    border:1px solid #DFDFDF;
    text-align:center
}

#comments h3 a {
    color:#84BE39
}

#comments h4 {
    margin:10px 10px 5px;
    color:#666;
    font-weight:700;
    text-align:center
}

#comments h5 {
    margin:0 10px;
    padding:0;
    color:#555;
    font-weight:700;
    text-align:center
}

#comments .comment-header .title {
    margin:0;
    padding:0 5px 0 0;
    background:transparent;
    border:0;
    color:#555;
    font-weight:700;
    font-size:12px;
    text-align:left;
    display:inline
}

#comments .comment {
    margin:10px 0 0;
    padding:0;
    position:relative
}

.comment:after {
    content:' ';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:40px;
    height:40px;
    background:#FFF url(/themes/mobile/TheExoticBlue/images/user-anymous.png)center no-repeat;
    background-size:32px 32px;
    border:1px solid #DFDFDF
}

#comments .comment-header .title a {
    font-size:12px
}

.comment-header {
    margin:0 0 0 50px;
    padding:10px;
    color:#999;
    background:#FFF;
    border:1px solid #DFDFDF;
    border-width:1px 1px 0
}

.comment-content {
    margin:0 0 0 50px;
    padding:0 10px 10px;
    color:#444;
    background:#FFF;
    border:1px solid #DFDFDF;
    border-width:0 1px 1px
}

#new-entry h3 {
    margin-top:10px
}

#comment_form {
    margin:10px 0 0;
    padding:10px;
    background:#FFF;
    position:relative;
    border:1px solid #DFDFDF;
    color:#555
}

#comment_form:after, #feedback_form:after {
    content:' ';
    display:block;
    height:45px;
    width:100%;
    background:#F7F7F7;
    position:absolute;
    bottom:0;
    left:0
}

#feedback_form:after {
	height: 55px;
}

#comment_form .inp-text, #feedback_form .inp-text {
    margin:0;
    padding:0;
    height:20px;
    width:100%;
    border:1px solid #DFDFDF;
    background:#FFF
}

#comment_form .inp-textarea, .post-content #feedback_form .inp-textarea {
    margin:0;
    padding:0;
    width:100%;
	max-width: 100%;
    height:60px;
    border:1px solid #DFDFDF
}

.inp-btn {
    background:#4A92FF;
    color:#FFF;
    padding:4px 5px;
    border:1px solid #3179F7
}

#comment_form .inp-btn, #feedback_form .inp-btn {
    margin:20px 0 0;
    background:#4A92FF;
    border:1px solid #3179F7;
    color:#FFF;
    padding:4px 5px;
    position:relative;
    z-index:3
}

#comment_form img, #feedback_form img {
    margin:5px 0
}

#comments li {
    text-align:center;
    margin:0;
    padding:10px 10px 0;
    color:#555;
    border-bottom:0
}

.messages {
    text-align:center
}

.highlight {
    text-align:center;
    margin:10px;
    padding:5px 10px;
    background:#8CC339;
    color:#555
}

blockquote {
    background:#333;
    padding:10px;
    margin:20px;
    font-style:italic;
    border-left:10px solid #F73473;
    border-right:2px solid #F73473;
    color:#FFF
}

#navigation-menu h1 a,#navigation-menu h2 a,#navigation-menu h6 a {
    color:#FFF
}