body{font-family:sans-serif;font-size: 13px; background: #DDDFE2 none repeat scroll 0% 0%;}
h3{color: #fff; background: #3B5998;font-size: 20px;}
a{text-decoration: none;}
#header h1, #header h2{display: none;}
#header #navigation{background: #3B5998;margin-top: 25px; padding: 5px;}
#header #navigation span{padding: 5px;}
#header #navigation span a{color: #fff}
#top-content{position: relative;top: -52px;}
#search-form {padding: 3px; background: #3B5998 url(https://3.bp.blogspot.com/-n1h2wG4_CEQ/VzfccKYTQmI/AAAAAAAABkE/pKa3sLscdXQGOJ_5InS9m8iKv0FWfHnqgCLcB/s1600/Gjhrhb7r0lb.jpg)no-repeat scroll 1%;}
#search-form .inp-text {margin-left: 29px;max-width: 80%;border: 1px solid #243872;}
#search-form .inp-btn {color: #fff; background: #627ABA none repeat scroll 0% 0%;border: 1px solid #2E417E}
#content{margin-top: -32px;}
#content .post{padding: 5px; margin-top: 9px; background: #FFF none repeat scroll 0% 0%;border-color: #CCCED3 #C4C6CA #B4B6BA;border-style: solid;border-width: 1px;}
#content .post-meta{font-size: 12px;}
#content .post-meta .title{ font-size: 12px;}
#pagination-links {margin: 5px;text-align: center;}
#pagination-links span ,#pagination-links a {font-size: 11px; padding: 3px 4px;border: 1px solid #365899; background: #3B5998;color: #fff;}
#bottom-content h3{margin: 0;padding: 5px;}
#bottom-content ul{margin: 0;padding: 0}
#bottom-content ul li { display: block; list-style: none;margin: 0;padding: 4px;border-bottom: 1px solid #D3D1C2;}
#bottom-content #navigation-menu, #category-bottom, #blogroll{margin: 5px;background: #FFF none repeat scroll 0% 0%;font-size: 13px;color: #1D4088;}
#footer{margin-top: 5px;background: #4B4F56;color: #fff;}
#footer a{color: #000}

/*-------media------*/
@media screen and (max-width: 320px){

  #top-content{top: -51px;}
#search-form .inp-text {max-width: 52%;}
}
@media screen and (max-width: 240px){
   #top-content{top: -52px;}
#search-form .inp-text {max-width: 52%;}
   
}
@media screen and (max-width: 176px){
     #top-content{top: -67px;}
#search-form .inp-text {max-width: 40%;}
   
}
@media screen and (max-width: 142px){
    #top-content{top: -65px;}
    #header #navigation{font-size: 12px;}
#search-form .inp-text {max-width: 40%;}
    #search-form .inp-btn {width: 30%;font-size: 9px;padding: 3px;}
}
@media screen and (max-width: 128px){
    #top-content{top: -65px;}
    #header #navigation{font-size: 12px;}
#search-form .inp-text {max-width: 40%;}
    #search-form .inp-btn {width: 30%;font-size: 9px;padding: 3px;}
}
